---
import Header from '../components/Header.astro'
import Page from '../layouts/Page.astro'
---

<Page>
  <Header />
  <h2>404</h2>
  <p>We couldn’t find that page.</p>
  <p><a href="/">Go home</a></p>
</Page>
