<footer>
  Inspired by <a href="https://github.com/kachkaev/njt">njt</a> and <a href="https://github.com/lazd/mdn.io">mdn.io</a>
</footer>

<style>
  footer {
    color: var(--color-gray-400);
    font-size: 0.875rem;
    margin-block: 1.5rem 2rem;
    text-align: center;
  }
</style>
