<header>
  <h1><abbr title="Starlight Jump To">sjt</abbr></h1>
  <div aria-hidden="true">Starlight Jump To</div>
</header>

<style>
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block: 2.5rem 1.5rem;
  }

  h1 {
    font-size: var(--text-4xl);
    font-weight: 800;
    line-height: 1.4;
  }

  abbr {
    text-decoration: none;
  }

  div {
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: 1.25;
    overflow-wrap: anywhere;
    text-align: center;
    text-wrap: balance;
  }
</style>
